* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.header-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 0 240px;
    height: 850px;
    width: auto;
    flex-shrink: 0;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
}

.header-button {
    font-size: 22px;
    border: none;
    outline: none;
    background: #E55473;
    ;
    padding: 20px 43px;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
}

button:hover {
    background-color: yellowgreen;
    color: black;
    cursor: pointer;
}

.main-head {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}

.main-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.feature-container {
    padding: 0px 200px;
    height: 650px;
    margin: 130px 130px 0px 130px;
    text-align: center;
    margin-bottom: 30px;
}


.feature-photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;
}

.flower1 {
    padding: 110px 78px 0px 76px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(240, 6, 119, 0.15);
}

.flower2 {
    padding: 117px 47px 51px 47px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(4, 228, 240, 0.15);
}

.flower3 {
    padding: 67px 75px 0px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(126, 250, 2, 0.15);
}

.flower-description {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.service-container {
    margin: 128px 240px 128px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 320px;
    flex-shrink: 0px;
}

.service1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.service2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.service3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.service-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}